{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}

<h2>Wiki</h2>
                  <form action="{% url 'add'%}" method ="POST">
                     {% csrf_token%}
                     <label> Insert the title here </label>
                    <input  type="text" name="q" placeholder="title" required>
                    </br>
                     <label> Insert the content here </label>
                    <textarea class="search" name="c" required></textarea>
                    <input  type="submit" value="Add">

                  </form>

{% endblock %}

